## 1.	Import the necessary package to
## a.	Set the current working directory
## b.	Change the working directory

In [177]:
import os

In [181]:
os.getcwd()

'C:\\Users\\kalya\\Santhosh\\Data Science\\Notebook'

### 2.	Create the string, int and float variable and delete them all in the next cell

In [16]:
num=10;flt=111.5;strg='santhosh'
display(type(num),':',num);
display(type(flt));
display(type(strg));

int

':'

10

float

str

In [17]:
del num,flt,strg
display(num)
display(strg)

NameError: name 'num' is not defined

## 3.	What’s the result of assigning a value to a ‘keyword’?
## a.	Please highlight the error

In [23]:
def=10

SyntaxError: invalid syntax (Temp/ipykernel_132504/2570036723.py, line 1)

## 4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [24]:
digit2=(1+32+33 +4+   ## multi line code
5+6
+7)

In [25]:
display(digit2)

88

## 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [34]:
##list(range(100,999,8))
##print(list(range(100,999,8)))   ## indendation
x=list(range(100,999,8)) 
print(x)

[100, 108, 116, 124, 132, 140, 148, 156, 164, 172, 180, 188, 196, 204, 212, 220, 228, 236, 244, 252, 260, 268, 276, 284, 292, 300, 308, 316, 324, 332, 340, 348, 356, 364, 372, 380, 388, 396, 404, 412, 420, 428, 436, 444, 452, 460, 468, 476, 484, 492, 500, 508, 516, 524, 532, 540, 548, 556, 564, 572, 580, 588, 596, 604, 612, 620, 628, 636, 644, 652, 660, 668, 676, 684, 692, 700, 708, 716, 724, 732, 740, 748, 756, 764, 772, 780, 788, 796, 804, 812, 820, 828, 836, 844, 852, 860, 868, 876, 884, 892, 900, 908, 916, 924, 932, 940, 948, 956, 964, 972, 980, 988, 996]

## 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [48]:
##power2= [a for a in range(11) if a%2==0]   
##print(power2)
n=1
m=2
for a in range(n,m):
    if(a%2==0):
        break;
    else:
        print(a)
        n=n+1
print('for loop ended')

1
for loop ended

## 7.	Write a simple function and call the docstring from outside the function

In [91]:
def calcul(oper,a,b):
    '''this function is for addition, subtraction,
    multiplication and division will be returned'''
    c=0;
    if(oper=='a'):
        c=a+b
    else:
        if(oper=='s'):
            c=a-b
        else:
            if(oper=='m'):
                c=a*b
            else:
                if(oper=='d'):
                    c=a/b
    return c

i=20;j=35;k=0;
typ='m'
if(i>j and (typ=='s' or typ=='d')):
    print(calcul.__doc__)
    k=calcul(typ,i,j)
    print(k)
else:
    if(typ=='a' or typ=='m'):
        print(calcul.__doc__)
        k=calcul(typ,i,j)
    else:
        print('invalid values entered for the operation')
print(k)

this function is for addition, subtraction,
    multiplication and division will be returned
700

## 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
## <Formula to calculate semi-perimeter: s = (a+b+c )/2
##  <<Formula to calculatearea = (s*(s-a)*(s-b)*(s-c)) ** 0.5>>
    
## a.	15    
## b.	51    
## c.	17

In [114]:
from area_calculator import area_cal1

In [118]:
a=area_cal1.area_func(3,3,3)
print(a)

7.59375

## 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [133]:
list1 = list(range(100))
#[i for i in list1 if(i%2 != 0)] 
x= [i for i in list1 if(i%2 != 0)] 
print(x)

##for i in list1:
##    if(i%2 !=0): print(i)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

## Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
## a.	Ex: name = Imran
## b.	Output = [‘m’, ‘r’, ‘n’]

In [175]:
vowels1='aeiou'
##vowels1='aeiou'
name='santhosh kumar'
nonvowels=[i for i in name if i not in vowels1]
print(nonvowels)

['s', 'n', 't', 'h', 's', 'h', ' ', 'k', 'm', 'r']